Repository tom-wat/painting-palette-tool: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint:fix, pnpm typecheck, prettier --write

.lintstagedrc.json:

{
  "**/*.{ts,tsx,js,jsx}": ["pnpm lint:fix", "pnpm typecheck"],
  "**/*.{ts,tsx,js,jsx,json,md}": ["prettier --write"]
}

Update project structure and add experimental features
  docs/development-log.md
  docs/painting-palette-implementation-tasks.md
  docs/project-directory-structure.md
  docs/refined-painting-palette-tool-plan.md
  experiments/parallel-processing/tsconfig.tsbuildinfo
  packages/cube-renderer/package.json
  packages/cube-renderer/src/index.ts
  packages/cube-renderer/src/lighting.ts
  packages/cube-renderer/src/projection.ts
  packages/cube-renderer/src/renderer.test.ts
  packages/cube-renderer/src/renderer.ts
  packages/cube-renderer/src/types.ts
  packages/cube-renderer/tsconfig.json
  packages/web/next.config.mjs
  packages/web/package.json
  packages/web/postcss.config.mjs
  packages/web/src/app/globals.css
  packages/web/src/app/layout.tsx
  packages/web/src/app/page.tsx
  packages/web/src/app/test/page.tsx
  packages/web/src/components/features/AdvancedSelectionTools.tsx
  packages/web/src/components/features/BrightnessAnalysis.tsx
  packages/web/src/components/features/ColorPalette.tsx
  packages/web/src/components/features/CubeVisualization.tsx
  packages/web/src/components/features/ImageCanvas.tsx
  packages/web/src/components/features/ImageUpload.tsx
  packages/web/src/components/ui/Button.tsx
  packages/web/src/components/ui/Card.tsx
  packages/web/src/components/ui/Select.tsx
  packages/web/src/components/ui/Toggle.tsx
  packages/web/src/components/ui/index.ts
  packages/web/src/lib/brightness-analysis.ts
  packages/web/src/lib/export-formats.ts
  packages/web/src/lib/processing-pipeline.ts
  packages/web/src/lib/selection-tools.ts
  packages/web/test-output.css
  packages/web/tsconfig.tsbuildinfo
  pnpm-lock.yaml
  tsconfig.tsbuildinfo
Due: pnpm lint:fix, pnpm typecheck, prettier --write

Add Vercel configuration to build only web package
  vercel.json
Due: prettier --write

Fix Vercel config: remove problematic ignoreCommand
  vercel.json
Due: prettier --write

Fix Vercel build: change to direct Next.js build command
  vercel.json
Due: prettier --write

Fix Vercel build: use pnpm filter for monorepo
  vercel.json
Due: prettier --write

Fix Vercel build: build dependencies first
  vercel.json
Due: prettier --write

Fix Vercel build: use individual package filters
  vercel.json
Due: prettier --write

Fix Vercel output: copy .next to root directory
  vercel.json
Due: prettier --write

Debug: check packages/web directory contents
  vercel.json
Due: prettier --write

Remove vercel.json - use Vercel dashboard settings instead
  vercel.json
Due: prettier --write

Add comprehensive Vercel config with framework detection
  vercel.json
Due: prettier --write

Remove invalid rootDirectory property from vercel.json
  vercel.json
Due: prettier --write

Fix outputDirectory path for packages/web root
  vercel.json
Due: prettier --write

feat: improve color palette UX with HSL/LAB support and context-aware shortcuts
  packages/web/src/components/features/ColorPalette.tsx
  packages/web/src/components/features/ImageCanvas.tsx
  packages/web/src/components/ui/Modal.tsx
Due: pnpm lint:fix, pnpm typecheck, prettier --write

プリコミットフック問題修正とSavedPalettesPanel機能改善
  packages/web/packages/web/.gitignore
Due: none

SavedPalettesPanel大幅改善とプリコミットフック修正
  .lintstagedrc.json
  docs/development-log.md
  packages/web/src/app/page.tsx
  packages/web/src/components/features/ColorPalette.tsx
  packages/web/src/components/features/ImageCanvas.tsx
  packages/web/src/components/features/SavedPalettesPanel.tsx
  packages/web/src/components/ui/Modal.tsx
  packages/web/tsconfig.tsbuildinfo
  tsconfig.tsbuildinfo
Due: pnpm lint:fix, pnpm typecheck, prettier --write

プリコミットフック削除とスクリプト最適化
  .husky/pre-commit
  .lintstagedrc.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: implement LCH/OkLCH color spaces, Sc values, and HScL color space with UI simplification
  docs/improvement-log-2025-01-22.md
  packages/web/src/components/features/ColorPalette.tsx
  packages/web/src/components/features/SavedPalettesPanel.tsx
  packages/web/src/lib/color-space-conversions.ts
  packages/web/src/lib/export-formats.ts
  packages/web/tsconfig.tsbuildinfo
  tsconfig.tsbuildinfo
Due: pnpm lint:fix, pnpm typecheck, prettier --write

feat: UI improvements and SCSS export removal
  packages/web/src/app/page.tsx
  packages/web/src/components/features/ColorPalette.tsx
  packages/web/src/components/features/SavedPalettesPanel.tsx
  packages/web/src/lib/export-formats.ts
  packages/web/tsconfig.tsbuildinfo
Due: pnpm lint:fix, pnpm typecheck, prettier --write

feat: complete Add Mode implementation with color-coded toast notifications
  NEXT_DEVELOPMENT.md
  packages/web/src/app/page.tsx
  packages/web/src/components/features/ColorPalette.tsx
  packages/web/src/components/features/SavedPalettesPanel.tsx
  packages/web/src/lib/color-space-conversions.ts
Due: pnpm lint:fix, pnpm typecheck, prettier --write

feat: improve selection UI and palette management
  packages/web/src/app/page.tsx
  packages/web/src/components/features/ImageCanvas.tsx
  packages/web/src/components/features/SavedPalettesPanel.tsx
  packages/web/tsconfig.tsbuildinfo
Due: pnpm lint:fix, pnpm typecheck, prettier --write

feat: implement comprehensive palette tagging system
  packages/web/src/components/features/ColorPalette.tsx
  packages/web/src/components/features/SavedPalettesPanel.tsx
Due: pnpm lint:fix, pnpm typecheck, prettier --write

feat: optimize JSON export for LLM processing
  packages/web/src/components/features/SavedPalettesPanel.tsx
  packages/web/src/lib/export-formats.ts
Due: pnpm lint:fix, pnpm typecheck, prettier --write

feat: set label-less bar display as default for saved palettes
  packages/web/src/app/globals.css
  packages/web/src/app/page.tsx
  packages/web/src/components/features/SavedPalettesPanel.tsx
  packages/web/tsconfig.tsbuildinfo
Due: pnpm lint:fix, pnpm typecheck, prettier --write

feat: implement colored bars and per-palette label controls
  packages/web/src/components/features/SavedPalettesPanel.tsx
  packages/web/tsconfig.tsbuildinfo
Due: pnpm lint:fix, pnpm typecheck, prettier --write

feat: add white circle favicon
  packages/web/public/favicon.svg
  packages/web/src/app/layout.tsx
Due: pnpm lint:fix, pnpm typecheck, prettier --write

feat: implement bulk PNG export and Show/Hide All functionality
  packages/web/package.json
  packages/web/src/app/globals.css
  packages/web/src/components/features/SavedPalettesPanel.tsx
  packages/web/tsconfig.tsbuildinfo
Due: pnpm lint:fix, pnpm typecheck, prettier --write

fix: resolve ESLint useCallback dependency warning
  packages/web/src/components/features/ImageCanvas.tsx
  packages/web/tsconfig.tsbuildinfo
Due: pnpm lint:fix, pnpm typecheck, prettier --write

fix: update pnpm-lock.yaml for html2canvas dependency
  pnpm-lock.yaml
Due: none

feat: implement unified search with multiple keyword support
  packages/web/src/components/features/SavedPalettesPanel.tsx
  packages/web/tsconfig.tsbuildinfo
Due: pnpm lint:fix, pnpm typecheck, prettier --write

fix: prevent tag addition during Japanese IME composition
  packages/web/src/components/features/SavedPalettesPanel.tsx
Due: pnpm lint:fix, pnpm typecheck, prettier --write

ui: remove cache controls UI for minimal design
  packages/web/src/app/page.tsx
Due: pnpm lint:fix, pnpm typecheck, prettier --write

fix: resolve Turbo typecheck errors across experiment packages
  experiments/color-extraction/tsconfig.json
  experiments/optimization/tsconfig.json
  experiments/rendering/tsconfig.json
  tsconfig.json
Due: prettier --write

feat: convert Clip Studio export to Adobe Color format and reorder CSS button
  packages/web/src/app/page.tsx
  packages/web/src/components/features/ColorPalette.tsx
  packages/web/src/components/features/SavedPalettesPanel.tsx
  packages/web/src/lib/export-formats.ts
Due: pnpm lint:fix, pnpm typecheck, prettier --write

ui: enhance palette UI with improved button layout and feedback removal
  packages/web/src/app/page.tsx
  packages/web/src/components/features/ColorPalette.tsx
  packages/web/src/components/features/SavedPalettesPanel.tsx
Due: pnpm lint:fix, pnpm typecheck, prettier --write

layout adjustment
  packages/web/src/app/page.tsx
Due: pnpm lint:fix, pnpm typecheck, prettier --write

ui: change polygon selection cursor to crosshair
  packages/web/src/components/features/ImageCanvas.tsx
Due: pnpm lint:fix, pnpm typecheck, prettier --write

chore: add build cache files to .gitignore
  .gitignore
Due: none

chore: remove tsconfig.tsbuildinfo files from Git tracking
  packages/web/tsconfig.tsbuildinfo
  tsconfig.tsbuildinfo
Due: none

feat: add scroll wheel zoom and hide upload area after image upload
  packages/web/src/app/page.tsx
  packages/web/src/components/features/ImageCanvas.tsx
  packages/web/src/components/features/ImageUpload.tsx
Due: pnpm lint:fix, pnpm typecheck, prettier --write
