Repository tom-wat/painting-palette-tool: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint:fix, pnpm typecheck, prettier --write

.lintstagedrc.json:

{
  "**/*.{ts,tsx,js,jsx}": ["pnpm lint:fix", "pnpm typecheck"],
  "**/*.{ts,tsx,js,jsx,json,md}": ["prettier --write"]
}

refactor: consolidate RGBColor/ExtractedColor types into color-engine
  packages/color-engine/src/types.ts
  packages/cube-renderer/src/types.ts
  packages/web/src/app/page.tsx
  packages/web/src/components/features/ColorPalette.tsx
  packages/web/src/components/features/SavedPalettesPanel.tsx
  packages/web/src/lib/brightness-analysis.ts
  packages/web/src/lib/color-space-conversions.ts
  packages/web/src/lib/export-formats.ts
Due: pnpm lint:fix, pnpm typecheck, prettier --write

refactor: move color-space-conversions functions into color-engine
  packages/color-engine/src/color-conversions.test.ts
  packages/color-engine/src/color-conversions.ts
  packages/color-engine/src/index.ts
Due: pnpm lint:fix, pnpm typecheck, prettier --write

refactor: point web at color-engine's color-conversions, delete duplicate
  packages/web/src/app/page.tsx
  packages/web/src/components/features/ColorPalette.tsx
  packages/web/src/components/features/ImageCanvas.tsx
  packages/web/src/components/features/SavedPalettesPanel.tsx
  packages/web/src/components/ui/Tooltip.tsx
  packages/web/src/lib/annotation-render.ts
  packages/web/src/lib/color-space-conversions.ts
  packages/web/src/lib/export-formats.ts
Due: pnpm lint:fix, pnpm typecheck, prettier --write

refactor: extract saved-palettes localStorage access into palette-storage.ts
  packages/web/src/components/features/ColorPalette.tsx
  packages/web/src/components/features/SavedPalettesPanel.tsx
  packages/web/src/lib/palette-storage.test.ts
  packages/web/src/lib/palette-storage.ts
Due: pnpm lint:fix, pnpm typecheck, prettier --write

refactor: extract UI settings persistence into useUISettings hook
  packages/web/src/app/page.tsx
  packages/web/src/hooks/useUISettings.ts
Due: pnpm lint:fix, pnpm typecheck, prettier --write

chore: remove accidental npm lockfiles and tracked tsbuildinfo files
  .gitignore
  experiments/cube-rendering/tsconfig.tsbuildinfo
  experiments/parallel-processing/tsconfig.tsbuildinfo
  experiments/rendering-comparison/tsconfig.tsbuildinfo
  experiments/rendering/package-lock.json
  package-lock.json
Due: prettier --write

chore: exclude experiments/ from default turbo pipeline
  package.json
Due: prettier --write

chore: replace placeholder lint scripts with real ESLint
  packages/color-engine/.eslintrc.json
  packages/color-engine/package.json
  packages/color-engine/src/index.ts
  packages/color-engine/src/sampling.ts
  packages/cube-renderer/.eslintrc.json
  packages/cube-renderer/package.json
  packages/cube-renderer/src/renderer.test.ts
  pnpm-lock.yaml
Due: pnpm lint:fix, pnpm typecheck, prettier --write

chore: remove dead /test debug page from production build
  packages/web/src/app/test/page.tsx
Due: pnpm lint:fix, pnpm typecheck, prettier --write

docs: reconcile CLAUDE.md test/logging sections with actual codebase
  CLAUDE.md
Due: prettier --write

test: add Playwright E2E suite covering the Phase 4 manual QA checklist
  .gitignore
  CLAUDE.md
  packages/web/e2e/fixtures/quadrants.png
  packages/web/e2e/grayscale.spec.ts
  packages/web/e2e/helpers.ts
  packages/web/e2e/mobile.spec.ts
  packages/web/e2e/palette-save-load.spec.ts
  packages/web/e2e/smoke.spec.ts
  packages/web/e2e/upload-extract.spec.ts
  packages/web/package.json
  packages/web/playwright.config.ts
  pnpm-lock.yaml
Due: pnpm lint:fix, pnpm typecheck, prettier --write

refactor: split page.tsx into useAnnotationHistory/usePaletteExtraction hooks
  packages/web/src/app/page.tsx
  packages/web/src/hooks/useAnnotationHistory.ts
  packages/web/src/hooks/usePaletteExtraction.ts
Due: pnpm lint:fix, pnpm typecheck, prettier --write

refactor: extract canvas drawing and viewport logic from ImageCanvas.tsx
  packages/web/src/components/features/ImageCanvas.tsx
  packages/web/src/hooks/useCanvasViewport.ts
  packages/web/src/lib/canvas-draw.ts
Due: pnpm lint:fix, pnpm typecheck, prettier --write

refactor: split SavedPalettesPanel.tsx into storage/export hooks
  packages/web/src/components/features/SavedPalettesPanel.tsx
  packages/web/src/hooks/usePaletteExportActions.ts
  packages/web/src/hooks/useSavedPalettesStore.ts
Due: pnpm lint:fix, pnpm typecheck, prettier --write

refactor: extract ColorValueBars and usePaletteExport from ColorPalette.tsx
  packages/web/src/components/features/ColorPalette.tsx
  packages/web/src/components/features/color-palette/ColorValueBars.tsx
  packages/web/src/hooks/usePaletteExport.ts
Due: pnpm lint:fix, pnpm typecheck, prettier --write

docs: record refactoring progress and remaining work in the plan
  docs/refactoring-plan.md
Due: prettier --write

feat(export): draw palette PNGs the way the panel renders them
  packages/web/e2e/saved-palette-export.spec.ts
  packages/web/public/sw.js
  packages/web/src/components/features/ColorPalette.tsx
  packages/web/src/components/features/SavedPalettesPanel.tsx
  packages/web/src/components/features/color-palette/ColorValueBars.tsx
  packages/web/src/hooks/usePaletteExport.ts
  packages/web/src/hooks/usePaletteExportActions.ts
  packages/web/src/lib/canvas-theme.test.ts
  packages/web/src/lib/canvas-theme.ts
  packages/web/src/lib/export-formats.ts
  packages/web/src/lib/palette-card-image.ts
  packages/web/src/lib/palette-card-model.test.ts
  packages/web/src/lib/palette-card-model.ts
Due: pnpm lint:fix, pnpm typecheck, prettier --write

feat(pwa): regenerate web app icons from the new palette mark
  packages/web/public/apple-touch-icon.png
  packages/web/public/icon-192x192.png
  packages/web/public/icon-512x512.png
Due: none

feat(pwa): match favicon.svg to the new palette mark
  packages/web/public/favicon.svg
Due: none

style(upload): shrink the drop zone copy
  packages/web/src/components/features/ImageUpload.tsx
Due: pnpm lint:fix, pnpm typecheck, prettier --write

feat(brand): replace the palette mark with a rounded square
  packages/web/src/assets/painting-palette.png
Due: none

fix(pwa): match favicon.svg to the source artwork framing
  packages/web/public/favicon.svg
Due: none

fix(pwa): keep the source artwork framing in web app icons
  packages/web/public/apple-touch-icon.png
  packages/web/public/icon-192x192.png
  packages/web/public/icon-512x512.png
Due: none

chore(pwa): stop tracking the generated service worker
  .gitignore
  packages/web/public/sw.js
  packages/web/public/swe-worker-c6d9e90ca0bb3f3e.js
  packages/web/public/workbox-21e663c2.js
Due: pnpm lint:fix, pnpm typecheck, prettier --write

feat(theme): add dark mode with system preference support
  CLAUDE.md
  packages/web/e2e/theme.spec.ts
  packages/web/src/app/globals.css
  packages/web/src/app/layout.tsx
  packages/web/src/app/page.tsx
  packages/web/src/app/theme-script.tsx
  packages/web/src/components/ThemeProvider.tsx
  packages/web/src/components/controls/ThemeControl.tsx
  packages/web/src/components/controls/index.ts
  packages/web/src/components/features/BrightnessAnalysis.tsx
  packages/web/src/lib/theme.test.ts
  packages/web/src/lib/theme.ts
Due: pnpm lint:fix, pnpm typecheck, prettier --write

feat(theme): move the theme switch into a header dropdown
  CLAUDE.md
  packages/web/e2e/theme.spec.ts
  packages/web/src/app/page.tsx
  packages/web/src/components/controls/ThemeControl.tsx
  packages/web/src/components/controls/index.ts
  packages/web/src/components/layout/AppShell.tsx
  packages/web/src/components/layout/ThemeToggle.tsx
  packages/web/src/components/layout/index.ts
  packages/web/src/components/ui/DropdownMenu.tsx
  packages/web/src/components/ui/index.ts
Due: pnpm lint:fix, pnpm typecheck, prettier --write
